[submodule "submodules/xtensor"]
	path = submodules/xtensor
	url = https://github.com/cemoktra/xtensor.git
[submodule "submodules/xtensor-blas"]
	path = submodules/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
[submodule "submodules/xtl"]
	path = submodules/xtl
	url = https://github.com/xtensor-stack/xtl.git